* {
    padding: 0;
    margin: 0;
}

html,
body {
    background: #fff;
    height: 100%;
}

.navBar {
    background: #4078c0;
    padding: 10px 0;
    height: 100%;

    ul {
        padding-left: 20px;
    }

    li,
    a {
        color: #fff;
        margin-bottom: 5px;
    }
}
