/*********************************************************************
*  grid
*********************************************************************/
$grid-column-width: 53px;
$grid-gutter: 30px;
/*********************************************************************
*  Typography
*********************************************************************/

$PROJECT_FONT_SIZE: 16px;
$PROJECT_BASELINE: 24px;

$TYPE_FONT_BASIC: "Trebuchet MS";

/*********************************************************************
*  Colors
*********************************************************************/

$TEXT_COLOR: #626262;
$LINK_COLOR: #626262;
$TEXT_SECONDARY: #676767;
$PLACEHOLDER_COLOR: lighten($TEXT_COLOR, 15%);

/*********************************************************************
*  TÍTULOS
*********************************************************************/
$TITLE_COLOR_DARK:  #032e4e;